body{
    height: auto;
    width: auto;
    background-color: rgb(167, 167, 167);
    margin:0;
	padding:0;
    text-align: center;
}


header{
	text-align:left;
	padding:15px;
	background-color:rgba(33, 160, 199, 0.87);
	color:rgb(15, 15, 15);
	font: 30px arial;
	border-bottom:solid 1px #888;
}

img{
    margin-top:5px;
    margin-left: 10px;
}

h2,h1{
    text-align: center;
    font: 30px arial;
    color: black;
}

h3{
    color: black;
    text-align: center;
	font-size: 30px;
}
form{
    text-align: center;
    font-size: 30px;
	background-color: rgb(219, 211, 199);
}

a{
	padding:10px; /*Taille carré orange*/
	background-color:rgb(255, 111, 0);
	text-decoration:none;
	color:#FFF;
	vertical-align: auto;
	margin-left:10px;
	border-radius:5px;/*Bord arrondi*/
}

#message{
background-color: rgb(180, 22, 22);
color: black;
}